body {
    background-color: rgb(17, 17, 17);
    color: #ffffff;
    font-family: sans-serif;
}

a {
    color: crimson;
    color: #006680;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    margin-left: -40px;
    border: 1px solid rgba(220, 20, 60, 0.178);
    border-color: #006680;
    list-style: none;

    li {
        
    }
}

p {
    padding: 10px;
    border-radius: 10px;
    background-color: #1a1a1a;
}